.condition-text{
	color:orange;
}

.alert-box{
	border: 1px solid #ccc;
}
#navbar {
	overflow: hidden;
	/*background-color: #333;*/
	background-color: #337ab7;
	color:white;
}
.sticky {
	position: fixed!important;
	z-index:1;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}
.nav i{
	font-size:17px; font-weight: 650;
}

.navbar-default .navbar-nav>li>a {
	color: white!important;
}
.navbar-default .navbar-nav>.active>a {
	color: #777!important;
}

.navbar {
	border-radius: 0;
}
.form-horizontal .control-label {
	text-align: left;
}